.icon-router {
 background-image: url("icons/router.png");
 background-position: 0, 0;
}

.icon-keys {
 background-image: url("icons/keys.png");
 background-position: 0, 0;
}

.icon-share {
 background-image: url("icons/share.png");
 width: 19px;
 background-position: 0, 0;
}

#sharepasswordjson {
    width: 92%;
    font-size: 8pt;
}

#cjdns-outdated {
	display: none;
}

#self-outdated {
	display: none;
}

#ezcrypturl {
    font-size: 8pt;
}
